*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fixed{  
    position: fixed;  
    bottom: 80px;
    right: 30px;
    z-index: 5; 
}
.orange-button{
    width: 220px;
    height: 70px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
    border-radius: 40px;
    border: none;
    background-color: #ff8562;
}
.orange-button a{
    text-decoration: none;
    color: white;
}



.fixed2{
    position: fixed;
    top: 80px;
    right: 30px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconf{
    width: 40px;
    height: 40px;
}
.fa-brands{
    width: 40px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    color: black
}



.main{
    width: 100%;
    height: auto;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    animation-name: nkar;
    animation-duration: 3s;
    z-index: 4;
}
.menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leftside{
    width: 70%;
    height: 60px;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
ul>li{
    float: left;
}
ul>li a{
    font-size: 18px;
    font-weight: 400;
    color: black;
    padding: 20px;
    display: block;
    text-decoration: none;
}
ul>li a:hover{
    color: #ff8562;
}
.rightside{
    width: 20%;
    height: 60px;
    padding: 10px;
}
.menu-button{
    width: 180px;
    height: 40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;
    float: right;
}
.menu-button a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    color: black;
}
.menu-button:hover{
    border: 2px solid #ff8562;
}
.heads{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    animation-name: text1;
    animation-delay: 0.2s;
    animation-duration: 1.2s; 
}
.heads>h1{
    font-size: 42px;
    font-weight: 700;
}
.event{
    width: 55%;
    height: auto;
    margin: auto;
    padding: 20px 10px;
    padding-bottom: 100px;
    text-align: center;
    position: relative;
    z-index: 1;
    animation-name: text1;
    animation-delay: 0.4s;
    animation-duration: 1.2s;
}
.event>p{
    font-size: 28px;
    letter-spacing: .5px;
}
@keyframes text1{
    from{bottom: -300px;
         opacity: 0.1;}
    to{bottom: 0px;
        opacity: 1;
    }
}





.about{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
}
.box{
    width: 40%;
    height: auto;
    margin: 20px;
    padding: 20px;
    background-color: rgb(247, 247, 247);
    box-shadow: 5px 10px 10px gray;
}
.box>h1{
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 20px;
}
.box>p{
    font-size: 18px;
    padding-bottom: 20px;
}
.box:hover{
    box-shadow: 5px 10px 10px 5px rgb(0 0 0 / 20%);
}





#speakers{
    width: 95%;
    height: auto;
    margin: auto;
    background-color: #f7f7f7;
}
.speak{
    width: 45%;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
}
.speak>h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.23;
    padding-bottom: 40px;
}
.speak>p{
    font-size: 24px;
    line-height: 1.5;
}
.members{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.kub{
    width: 28%;
    height: auto;
    margin: 20px;
}
.foto{
    width: 280px;
    height: 280px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(2.jpg);
    background-size: cover;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    position: relative;
    animation-name: nkar;
    animation-duration: 4s;
}
@keyframes nkar{
    from{opacity: 0;}
    to{ opacity: 1;}
}
.people1{
    background-image: url(2.jpg);
}
.people2{
    background-image: url(3.jpg);
}
.people3{
    background-image: url(4.jpg);
}
.people4{
    background-image: url(5.jpg);
}
.people5{
    background-image: url(6.jpg);
}
.people6{
    background-image: url(7.jpg);
}
.text{
    text-align: center;
    padding: 20px;
}
#speakers>.members>.kub>.text>h1{
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 20px;
}
#speakers>.members>.kub>.text>p{
    font-size: 14px;
    padding-bottom: 20px;
    color: gray;
}
#speakers>.members>.kub>.text>p a{
    text-decoration: none;
    color: #ff8562;
}





#timetable{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    position: relative;
    animation-name: sharj;
    animation-duration: 0.5s;
}
@keyframes sharj{
    from{left: -100%;}
    to{left: 0px;}
}
.programme{
    width: 45%;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
}
#timetable>.programme>h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.23;
}
#timetable>.programme>p{
    font-size: 24px;
    padding-bottom:30px;
}
.bigblock{
    width: 100%;
    height: auto
}
.cubik{
    width: 70%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: center;
}
.hour{
    width: 20%;
    height: auto;
    padding: 12px;
}
#timetable>.bigblock>.cubik>.hour>p{
    font-size: 20px;
    color: #bababa;
}
.tox{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.stylish{
    height: 170px;  
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.ball{
    width: 18px;
    height: 18px;
    border: 2px solid #ff5c33;
    border-radius: 50%;
    background-color: #ff5c33;
    position: absolute;
    z-index: 2;
}
.infusion{
    width: 2px;
    height: 170px;
    margin: 8px;
    background-color: #b9b248;
    position: relative;
    z-index: 1;
    background-color: #dddcdc;
}
.double{
    width: 100%;
    height: auto;
    flex-direction: column;
}
.hour1{
    display: none;
}
#timetable>.bigblock>.cubik>.hour1>p{
    font-size: 20px;
    color: #bababa;
}
.subjects{
    width: 90%;
    height: auto;
    padding: 10px;
    padding-left: 50px;
}
#timetable>.bigblock>.cubik>.tox>.double>.subjects>h1{
    font-size: 26px;
    font-weight: 600;
    line-height: 1.23;
    padding-bottom: 20px;
}
#timetable>.bigblock>.cubik>.tox>.double>.subjects>p{
    font-size: 16px;
    line-height: 1.55;
}
#timetable>.bigblock>.cubik>.tox>.double>.subjects>p a{
    text-decoration: none;
    color: #f5914F;
}







.section{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    background-color: #f7f7f7
}
.center{
    width: 40%;
    height: auto;
    margin: auto;
    padding: 30px 10px;
    text-align: center;
}
.section>.center>h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.75;
}
.section>.center>p{
    font-size: 24px;
    line-height: 1.5;
}
.obshi{
    width: 96%;
    height: auto;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
.bigbox1, .bigbox2, .bigbox3{
    width: 30%;
    height: auto;
    position: relative;
    animation-name: nkar1;
    animation-duration: 2s;
    z-index: 1;
}
.bigbox2{
    animation-delay: 0.5s;
}
.bigbox3{
    animation-delay: 1s;
}

@keyframes nkar1{
    from {bottom: -600px}
    to{bottom: 0px;}
}
.fotos{
    height: 450px;
    background-image: url(8.jpg);
    background-size: cover; 
}
.anim1{
    background-image: url(8.jpg);
}
.anim2{
    background-image: url(9.jpg);
}
.anim3{
    background-image: url(10.jpg);
}
.xosq{
    height: auto;
    padding: 20px 10px;
}
.section>.obshi>.bigbox1>.xosq>h1{
    font-size: 28px;
}
.section>.obshi>.bigbox2>.xosq>h1{
    font-size: 28px;
}
.section>.obshi>.bigbox3>.xosq>h1{
    font-size: 28px;
}
.section>.obshi>.bigbox1, .bigbox2, .bigbox3>.xosq>p{
    font-size: 14px;
}





#location{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    z-index: 6;
}
.map{
    width: 60%;
    height: auto;
    margin: auto;
    padding-left: 30px;
}
.place{
    width: 27%;
    height: auto;
    margin: auto;
    padding: 20px;
    z-index: 2;
}
#location>.place>h1{
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0px;
}
#location>.place>p{
    font-size: 20px;
}





.karusel{
    width: 100%;
    height: auto;
    padding: 100px 0px 120px;
    background-color: #f7f7f7
}
.eluyt{
    width: 50%;
    height: 80px;
    margin: auto;
    padding: 10px 20px 60px;
    text-align: center;
}
.karusel>.eluyt>h1{
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    padding-bottom: 50px;
}
.frames{
    width: 80%;
    height: auto;
    padding: 30px;
    margin: auto;
}
.carousel{
    width: 80%;
    height:auto;
    margin: auto;
    padding: 20px;
}
.carousel-caption{
    background-color: rgba(7, 7, 7, 0.8);
}

.karusel>.frames>.carousel-caption>h5{
    font-size: 20px;
    line-height: 1.35;
    font-weight: 600;
    color: black;
}
.karusel>.frames>.carousel-caption>p{
    font-size: 14px;
    color: black;
}




.forma{
    width: 100%;
    height: auto;
    background-image: url(14.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.fon{
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    animation-name: nkar;
    animation-duration: 3s;
    box-shadow: 0 1px 3px rgb(0 0 0 / 0%);
    transition: background-color .3s linear;
}

@keyframes nkar{
    from{background-image: -webkit-linear-gradient(top, rgb(0, 0, 0), rgb(0, 0, 0));}
    to{background-image: -webkit-linear-gradient(top,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));}
}
.grancvel{
    width: 50%;
    height:auto;
    margin: auto;
    padding: 50px 10px 20px;    
    text-align: center;
    color: white;
}
.forma>.fon>.grancvel>h1{
    font-size: 42px;
    font-weight: 600;
    line-height: 1.23;
}
.price{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
    color: white;
}
.forma>.fon>.price>p{
    font-size: 20px;
    line-height: 1.55;
}
.kubik{
    width: 45%;
    height: auto;
    margin: auto;
    padding: 30px 40px;
}
input, select{
    width: 500px;
    height: 60px;
    padding: 20px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 10px 10px gray;
}
.last-button{
    width: 500px;
    height: 60px;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 5px 10px 10px gray;
    background-color: #ff5c33;
}
.last-button a{
    text-decoration: none;
    color: white;
}
.confidence{
    width: 42%;
    height: auto;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}
.forma>.fon>.confidence>p{
    font-size: 15px;
    line-height: 1.55;
    color: white;
}






.partner{
    width: 100%;
    height: auto;
    padding: 30px 0px;
    overflow: hidden;
}
.call{
    width: 45%;
    height: auto;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 1;
    animation-name: amis;
    animation-delay: 0.2s;
    animation-duration: 1.2s; 
}
@keyframes amis{
    from{left: -100%;}
    to{left: 0px;}
}
.call>h1{
    font-size: 42px;
    line-height: 1.23;
    font-weight: 600;
    padding-bottom: 20px;
}
.call>p{
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 10px;
}
.logo{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px;
}
.logos{
    width: 18%;
    height: 220px;
    margin: 13px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    float: left;
    background-image: url(15.jpg);
    background-size: cover;
}
.kubs1{
    background-image: url(15.jpg);
}
.kubs2{
    background-image: url(16.jpg);
}
.kubs3{
    background-image: url(17.jpg);
}
.kubs4{
    background-image: url(18.png);
}
.kubs5{
    background-image: url(19.jpg);
}
.kubs6{
    background-image: url(20.jpg);
}
.kubs7{
    background-image: url(21.jpg);
}
.kubs8{
    background-image: url(22.jpg);
}
.kubs9{
    background-image: url(23.jpg);
}
.kubs10{
    background-image: url(24.jpg);
}

  


#contacts{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 10px 0px;
}
.ticket{
    width: 25%;
    height: auto;
    margin: auto;
    padding: 50px 0px;
    text-align: center;
}
#contacts>.ticket>h1{
    font-size: 22px;
    line-height: 1.35;
    padding-bottom: 20px;
}
#contacts>.ticket>h2{
    font-size: 36px;
    line-height: 1.23;
    padding-bottom: 20px;
}
.social{
    width: 30%;
    height: auto;
    margin: auto;
    padding: 15px;
    display: flex;
    justify-content: center;
}
.iconorange{
    width: 45px;
    height: 45px;
    border-radius: 50%;    
    background-color: #ff5c33;
}
    


.andznakan{
    width: 100%;
    height: auto;
    padding: 20px;
    text-align: center;
    background-color: rgb(24, 24, 24);
}
.andznakan>h1{
    font-size: 20px;
    color: white;
}
.andznakan>h1 a{
    color: white;
}
.andznakan>p{
    font-size: 20px;
    color: white;
}



@keyframes nkar3{
    from{opacity: 0;}
    to{opacity: 1;}
}




@media only screen and (max-width: 992px){
    .fixed{
        display: none;
    }
    .fixed2{
        display: none;
    }

    
    .menu{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .leftside{
        width: 100%;
        height: auto;
        text-align: center;
        display: block;
    }
    .leftside>ul>li{
        float: none;
    }
    .rightside{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .menu-button{
        float: none;
    }
    .heads{
        animation-name: none;
    }
    .event{
        width: 65%;
        animation-name: none;
    }



    .about{
        flex-direction: column;
        align-items: center;
    }
    .box{
        width: 70%;
    }



    #speakers{
        width: 100%;
    }
    .speak{
        width: 70%;
    }
    .members{
        width: 80%;
        margin: auto;
    }
    .kub{
        width: 40%;
        margin: auto;
    }
    .foto{
        width: 220px;
        height: 220px;
    }
    .text{
        padding: 0px;
        padding-top: 20px;
    }



    #timetable{
        animation-name: none;
    }
    .programme{
        width: 100%;
    }
    #timetable>.programme>h1{
        font-size: 38px;
    }
    #timetable>.programme>p{
        font-size: 22px;
    }
    .hour{
        display: none;
    }
    .tox{
        width: 93%;
    }
    .hour1{
        width: 90%;
        height: auto;
        padding: 10px;
        padding-left: 50px;
        display: block;
        color: #bababa;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.hour1>p{
        font-size: 18px;
    }
    .subjects{
        width: 100%;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.subjects>h1{
        font-size: 24px;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.subjects>p{
        font-size: 14px;
    }


    .center{
        width: 60%;
    }
    .section>.center>h1{
        font-size: 38px;
    }
    .section>.center>p{
        font-size: 22px;
    }
    .obshi{
        width: 80%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bigbox1, .bigbox2, .bigbox3{
        width: 43%;
        animation-name: nkar3;
        animation-delay: 0s;
    }
    

    #location{
        flex-direction: column;
    }
    .map{
        width: 70%;
        margin: auto;
        padding-left: 0px;
    }
    .place{
        width: 70%;
    }
    #location>.place>p{
        font-size: 18px;
    }


    .eluyt{
        width: 100%;
    }
    .karusel>.eluyt>h1{
        font-size: 38px;
    }
    .frames{
        width: 100%;
    }


    .grancvel{
        width: 60%;
    }
    .forma>.fon>.grancvel>h1{
        font-size: 38px;
    }
    .forma>.fon>.price>p{
        font-size: 18px;
    }
    .kubik{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .confidence{
        width: 58%;
    }
    .forma>.fon>.confidence>p{
        font-size: 14px;
    }


    .call{
        width: 60%;
        padding: 30px ;
        animation-name: none;
    }
    .partner>.call>h1{
        font-size: 38px;
    }
    .partner>.call>p{
        font-size: 20px;
    }
    .logo{
        width: 90%;
        height: auto;
        margin: auto;
        padding: 10px;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .logos{
        width: 25%;
        height: 150px;
        margin: 10px 30px;
    }

    .ticket{
        width: 60%;
    }
}






@media only screen and (max-width: 600px){
    .main{
        text-align: center;
        display: block;
        animation-name: none;
    }
    .menu{
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .leftside{
        width: 100%;
        height: auto;
        text-align: center;
        display: block;
    }
    .leftside>ul>li{
        float: none;
    }
    .rightside{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .menu-button{
        float: none;
    }
    .heads{
        width: 100%;
        animation-name: none;
    }
    .main>.heads>h1{
        font-size: 30px;
    }
    .event{
        width: 100%;
        padding-bottom: 10px;
        animation-name: none;
    }
    .main>.event>p{
        font-size: 26px;
    }



    .about{
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
    }
    .box{
        width: 90%;
        margin: 10px auto;
        padding: 5px;
    }



    #speakers{
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .speak{
        width: 100%;
        padding: 30px 0px;
    }
    .speak>h1{
        font-size: 30px;
    }
    .speak>p{
        font-size: 20px;
    }
    .kub{
        width: 100%;
        margin: auto;
    }
    .foto{
        width: 200px;
        height: 200px;
    }
    .text{
        width: 100%;
        padding: 5px;
        padding-top: 20px;
    }
    #speakers>.members>.kub>.text>h1{
        font-size: 18px;
    }
    #speakers>.members>.kub>.text>p{
        font-size: 12px;
    }





    #timetable{
        animation-name: none;
        padding: 20px 0px;
    }
    .programme{
        width: 110%;
        padding: 10px 0px;
    }
    #timetable>.programme>h1{
        font-size: 30px;
    }
    #timetable>.programme>p{
        font-size: 20px;
        padding-bottom: 20px;
    }
    .bigblock{
        width: 95%;
        margin: auto;
    }
    .cubik{
        width: 100%;
        flex-direction: column;
    }
    .tox{
        width: 80%;
        margin: auto;
    }
    .hour{
        width: 40%;
        display: none;
    }
    .tox{
        width: 100%;
    }
    .hour1{
        width: 90%;
        height: auto;
        padding: 10px;
        padding-left: 20px;
        display: block;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.hour1>p{
        font-size: 16px;
        color: #bababa;
    }
    .subjects{
        width: 100%;
        padding-left: 20px;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.subjects>h1{
        font-size: 22px;
    }
    #timetable>.bigblock>.cubik>.tox>.double>.subjects>p{
        font-size: 12px;
    }





    .section{
        padding: 20px 10px;
    }
    .center{
        width: 100%;
        padding: 10px;
    }
    .section>.center>h1{
        font-size: 30px;
    }
    .section>.center>p{
        font-size: 20px;
    }
    .obshi{
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .bigbox1, .bigbox2, .bigbox3{
        width: 100%;
        animation-name: nkar3;
        animation-delay: 0s;
    }
    .section>.obshi>.bigbox1>h1, .section>.obshi>.bigbox2>h1, 
    .section>.obshi>.bigbox3>h1{
        font-size: 20px;
    }





    #location{
        flex-direction: column;
        padding: 20px 0px;
    }
    .map{
        width: 90%;
        padding-left: 0px;
    }
    .place{
        width: 100%;
        padding-left: 40px;
    }
    #location>.place>p{
        font-size: 16px;
    }




    .karusel{
        padding: 20px 0px;
    }
    .eluyt{
        width: 100%;
        padding-bottom: 10px;
    }
    .karusel>.eluyt>h1{
        font-size: 30px;
    }
    .frames{
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .carousel{
        width: 100%;
        padding: 20px 0px;
    }




    
    .grancvel{
        width: 100%;
        padding: 20px 0px;
    }
    .forma>.fon>.grancvel>h1{
        font-size: 30px;
    }
    .forma>.fon>.price>p{
        font-size: 16px;
    }
    .price{
        width: 100%;
        padding: 10px 0px;
    }
    .kubik{
        width: 100%;
        padding: 10px;
    }
    input, select{
        width: 90%;
        margin: 10px auto;
    }
    .last-button{
        width: 90%;
        margin: 10px auto;
    }
    .confidence{
        width: 85%;
    }




    
    .call{
        width: 100%;
        padding: 20px;
        animation-name: none;
    }
    .partner>.call>h1{
        font-size: 30px;
    }
    .partner>.call>p{
        font-size: 20px;
    }
    .logo{
        padding: 0px;
    }
    .logos{        
        max-width: 300px;
        width: 100%;
        height: 170px;
        padding: 0px;
        flex-direction: column;
        justify-content: center;
        float: none;
    }




    
    #contacts{
        width: 100%;
    }
    .ticket{
        width: 80%;
    }
    #contacts>.ticket>h2{
        font-size: 28px;
    }
    #contacts>.ticket>h2{
        font-size: 28px;
    }
    .social{
        width: 80%;
    }
}



