*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    background-image: url(../image/25-headerPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    animation-name: nkar;
    animation-duration: 3s;
}
@keyframes nkar{
    from{opacity: 0.1;}
    to{opacity: 1;        
    }
}
.header-color{
    width: 100%;
    height: auto;
    background-image: -webkit-linear-gradient(top,
                     rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
}
.basket{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    box-shadow: 2pox 4px 5px grey;
    position: fixed;
    right: 40px;
    top: 100px;
    cursor: pointer;
}
.basket:hover{
    transform: scale(1.2, 1.2);
    transition: all 0.5s;
}
.countOrderDiv{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #ff6047;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 40px;
    top: 130px;
    color: white;
    cursor: pointer;
}
.basket-block{
    display: none;
}
.preffer{
    position: fixed;
    right: 50px;
    top: 20px;
    font-size: 22px;
}
.preffer>.heart>.fa-heart{
    color: white;
}
.preffer-body{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0, 0.911);
    display: none;
}
.preffer-body2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.blockPreffer{
    display: block;
}
.headerMenu{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    z-index: 2;
}
.menuBlock{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;  
}
.menu-leftside{
    width: 45%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
ul{
    list-style-type: none;
    overflow: hidden;
}
ul>li{
    float: left;
}
ul>li a{
    font-family: 'Open Sans',Arial,sans-serif;
    font-size: 18px;
    color: white;
    padding: 15px;
    display: block;
    text-decoration: none;
}
ul>li a:hover{
    color: #ff8562;
}
.menu-rightside{
    width: 40%;
    height: auto;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-rightside>h2{
    font-size: 24px;
    font-family: 'Open Sans',Arial,sans-serif;
    padding: 0px 30px 0px 0px;
}
.menu-button{
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 5px;
    text-align: center;
    background-color: #ff6047;
    cursor: pointer;
    color: white;
}
.menu-button a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Open Sans',Arial,sans-serif;
}
.mobile-menu{
    color: white;
    background-color: transparent;
    font-size: 25px;
    border: none;
    position: absolute;
    right: 20px;
    display: none;
}
.home{
    width: 100%;
    height: auto;
    padding: 50px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-left{
    width: 45%;
    height: auto;
    padding: 90px 0px 30px;
}
.home-left>h1{
    font-size: 64px;
    font-family: 'Open Sans',Arial,sans-serif;
    padding: 15px;
}
.home-left>p{
    font-size: 26px;
    font-weight: 400;
    font-family: 'Open Sans',Arial,sans-serif;
    padding: 30px 15px;
    opacity: 0.80;
}
.home-right{
    width: 40%;
    height: auto;
}
.home-box{
    width: 100%;
    height: auto;
    margin: 5px 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.one{
    padding-top: 20px;
}
.home-text{
    width: 50%;
    height: auto;
    padding: 20px 0px 10px 35px;
}
.home-text>p{
    font-size: 20px;
    font-family: 'Open Sans',Arial,sans-serif;
}
.home-icon{
    height: 70px;
}





#advantages{
    width: 80%;
    margin: auto;
    background-color: #ff6047;
    display: flex;
    justify-content: center;
}
.advantage{
    width: 300px;
    height: 120px;
    background-color: #f5f5f5;
    margin: 20px;
    color: #ff8147;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.assortment, .client, .prize{
    font-size: 35px;
    color: #ff6047;
}
.assortment>p, .client>p, .prize>p{
    color: #ff6047;
}




#rolls, #sets, #promotion{
    width: 100%;
    height: auto;
    padding: 100px 0px 0px;
    background-color: #f5f5f5;
    color: black;
}
#rolls, #sets{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.roll-header, .sets-header, .promotion-header{
    width: 90%;
    height: auto;
    padding: 20px 70px;
}
#rolls>.roll-header>h1, #sets>.sets-header>h1,
#promotion>.promotion-header>h1{
    font-size: 52px;
    font-family: 'Open Sans',Arial,sans-serif;
    padding-bottom: 40px;
}
#rolls>.roll-header>p, #sets>.sets-header>p,
#promotion>.promotion-header>p{
    width: 50%;
    font-size: 22px;
    font-weight: 300;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiItem{
    width: 29%;
    height: auto;
    margin: 10px;
    border: none;
    text-align: center;
}
.sushiItem>.fa-heart{
    color: rgba(0, 0, 0, 0.495);
    padding-top: 10px;
}
.priceAllOrder{
    width: 100%;
    height: 50px;
    text-align: right;
    color: black;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans',Arial,sans-serif;
}
.clone{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
}
.clone>.sushiImg{
    width: 15%;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
}
.clone>.sushiText{
    width: 80%;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.clone>.sushiText>h3{
    width: 50%;
    font-size: 16px;
    padding: 15px 0;
    font-weight: 600;
    vertical-align: middle;
}
.clone>.sushiBtn{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1px solid grey;
    border-radius: 50%;
    color: grey;
    font-size: 14px;
    padding: 0px;
}
.clone>.sushiText>.fa-circle-plus,
.clone>.sushiText>.fa-circle-minus{
    width: 20px;
    height: auto;
    padding: 16px 0px;
}
.clone>.sushiText>.count,
.clone>.sushiText>.money{
    width: 20px;
    height: auto;
    padding: 15px 0px;
    font-weight: 300;
    font-family: 'Open Sans',Arial,sans-serif;
}
.priceOneType{
    font-size: 16px;
    padding: 15px 0;
    font-weight: 300;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiImg{
    width: 100%;
    height: 350px;  
    background-size: contain;
    background-repeat: no-repeat;
}
.sushiText{
    width: 92%;
    height: 170px;
    padding: 20px;
    text-align: center;
    color: black;
    background-color: white;
}
.sushiText>h2{
    font-size: 20px;
    line-height: 1.35;
    font-weight: 700;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiText>p{
    margin: 10px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiText>.price{
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiBtn, .sushiBigBtn{
    width: 130px;
    height: 45px;
    margin: 20px 0px;
    font-size: 14px;
    background-color: #ff6047;
    border-radius: 5px;
    border: none;
    color: white;    
    cursor: pointer;
}
.sushiBig, .order{
    width: 100%;
    height: 100%;
    padding: 80px 100px;
    background-color: white;
    position: fixed;
    top: 80px;
    left: 0;
    bottom: 0;
    overflow-y: auto;
}
.sushiItemBig{
    width: 80%;
    height: 100%;
    padding: 20px;
    margin: auto;
    background-color: #f5f5f5;
    display: flex;
}
.sushiImgBig{
    width: 50%;
    height: 100%;
    background-size: cover;
}
.sushiTextBig{
    width: 40%;
    padding: 30px 40px;
    font-family: 'Open Sans',Arial,sans-serif;
    color: black;
}
.sushiTextBig>h2{
    font-size: 24px;
    font-weight: 700;
    font-family: 'Open Sans',Arial,sans-serif;
}
.sushiTextBig>p{
    font-size: 14px;
    font-family: 'Open Sans',Arial,sans-serif;
    margin: 10px 0px;
}
.close{
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    font-size: 30px;
    background-color: transparent;
    cursor: pointer;
}
.whiteClose{
    color: white;
}
.moreProducts{
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
}
.order{
    background-color: rgba(0, 0, 0, 0.842);
    display: none;
}
.orderClone{
    border-top: 1px solid rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.orderform{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px 40px;
    background-color: white; 
}
.orderform>h1{
    font-size: 24px;
    line-height: 1.35;
    font-weight: 600;
    font-family: 'Open Sans',Arial,sans-serif;
    color: black;
    padding-bottom: 30px;
}
.orderform input{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}
.orderform label{
    margin: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    line-height: 1.55;
    font-family: 'Open Sans',Arial,sans-serif;
    font-weight: 300;
    color: black;
}
.orderform input[type=submit]{
    background-color: black;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    font-family: 'Open Sans',Arial,sans-serif;
    cursor: pointer;
}






.promotion-header{
    margin: auto;
}
#container{
    width: 100%;
    height: 450px;
    background-color: #f5f5f5;
    padding: 10px 0px 100px;
    position: relative;
    overflow: hidden;
}
.containerItem{
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    position: absolute;
    transition: all 0.5s;
}
.containerRight{
    width: 35%;
    height: auto;
    padding: 10px 20px;
    background-color: #f5f5f5;
}
.containerItem>.containerRight>h1{
    font-size: 36px;
    font-weight: 600;
    font-family: 'Open Sans',Arial,sans-serif;
    line-height: 1.23;
    padding-bottom: 30px;
}
.containerItem>.containerRight>p{
    font-size: 20px;
    font-weight: 300;
    font-family: 'Open Sans',Arial,sans-serif;
}
#btn_prev, #btn_next{
    position: absolute;
    top: 45%;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: rgb(255, 96, 71);
    cursor: pointer;
    font-size: 22px;
    line-height: 1.35;
    font-weight: 300;
    color: white;
    transition: 300ms opacity ease-in-out;
}
#btn_prev{
    left: 40px;
}
#btn_next{
    right: 40px;
}
.hidden{
    display: none;
}
.hiddenSlide{
    opacity: 0;
}

.scrollBtn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #343a40;
    box-shadow: 2px 5px 8px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;    
    background-color: white;
    position: fixed;
    right: 50px;
    bottom: 50px;
    animation: scrollAnim 0.8s linear infinite alternate;
    transition: transform 0.5;
    cursor: pointer;
    display: none;
}
.scrollBtn:hover{
    background-color: #343a40;
    color: #fff;
    transform: scale(1.2, 1.2);
}
@keyframes scrollAnim{
    from{
        bottom: 50px;
    }
    to{
        bottom: 40px;
    }
}


#contacts{
    width: 100%;
    height: auto;
    background-color: #1f1f1f;
    padding: 80px 90px;
}
.contacts-header{
    width: 50%;
    padding: 10px;
}
#contacts>.contacts-header>h1{
    font-size: 52px;

    line-height: 1.23;
    font-family: 'Open Sans',Arial,sans-serif;
    color: rgb(255, 96, 71);
    padding-bottom: 10px;
}
#contacts>.contacts-header>h2{
    font-size: 52px;
    line-height: 1.23;
    font-family: 'Open Sans',Arial,sans-serif;
    color: white;
    padding-bottom: 30px;
}
#contacts>.contacts-header>p{
    font-size: 20px;
    line-height: 1.55;
    font-family: 'Open Sans',Arial,sans-serif;
    color: white;
    padding-bottom: 20px;
}
.fa-brands{
    font-size: 30px;
    padding: 5px;
    cursor: pointer;
}





@media only screen and (max-width:992px){
    .header{
        animation: none;
    }
    .preffer{
        right: 70px;
    }
    .menu{
        position: relative;
        flex-direction: column;
    }
    .menuBlock{        
        width: 100%;
        height: auto;
        position: absolute;
        top: 80px;
        background-color: rgba(0, 0, 0, 0.7);
        color: white;
        display: none;
    }    
    .menu-leftside{
        width: 100%;
        height: auto;
        text-align: center;
        justify-content:  center;
        align-items: center;
    }
    ul>li{
        float: none;
    }
    ul>li a{
        padding: 15px 0px;
    }
    .menu-rightside{
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
    .menu-rightside>h2{
        padding: 0px;
    }
    .mobile-menu{
        right: 25px;
        display: block; 
    }
    .fa-xmark{
        display: none;
    }
    .hidden{
        display: none;
    }
    .block{
        display: block;
    }    
    .home{
        padding: 0;
        flex-direction: column;
    }
    .home-left, .home-right{
        width: 80%;
    }
    .home-left>h1{
        font-size: 68px;
    }
    .home-box{
        justify-content: left;
    }
    .home-text{
        width: 80%;
    }
    .home-icon{
        height: 40px;
    }
    .preffer{
        top: 30px;
    }




    #advantages{
        width: 90%;
    }
    .advantage{
        width: 30%;
        margin: 10px;
    }
    



    .roll-header, .sets-header{
        width: 100%;
        padding: 20px;
        padding-left: 30px;
    }
    #rolls>.roll-header>h1, #sets>.sets-header>h1,
    #promotion>.promotion-header>h1{
        font-size: 48px;
    }
    #rolls>.roll-header>p, #sets>.sets-header>p,
    #promotion>.promotion-header>p{
        width: 100%;
        font-size: 24px;
    }
    .sushiImg{
        height: 300px;
    }
    .sushiItem{
        width: 40%;
    }
    .sushiItem>.fa-heart{
        padding-right: 10px;
    }
    .sushiItemBig{
        flex-direction: column;
        overflow-y: auto;
    }
    .sushiImgBig{
        width: 100%;
        height: 400px;
    }
    .sushiTextBig{
        width: 100%;
        padding: 20px;
    }
    .sushiBigBtn{
        width: 100%;
    }
    .sushiBig, .order{
        top: 0;
        padding: 20px;
    }
    .close{
        font-size: 20px;
    }
    .order{
        overflow-y: scroll;
    }
    .orderform{
        width: 85%;
    }




    #container{
        height: 700px;
    }
    .promotion-header{
        padding: 20px 0px;
    }
    .containerItem{
        flex-direction: column;
        align-items: center;
    }
    .sushiImgBig{

        flex-shrink: 0;
    }
    .containerLeft{
        text-align: center;
    }
    .containerLeft>img{
        width: 75%;
    }
    .containerRight{
        width: 75%;
    }
    .containerItem>.containerRight>h1{
        font-size: 32px;
    }
    .containerItem>.containerRight>p{
        font-size: 18px;
    }
    #btn_prev, #btn_next{
        top: 35%;
    }
    





    #contacts{
        padding: 80px 10px;
    }
    .contacts-header{
        width: 100%;
    }
    #contacts>.contacts-header>h1{
        font-size: 30px;
    }
    #contacts>.contacts-header>h2{
        font-size: 30px;
    }
    #contacts>.contacts-header>p{
        font-size: 20px;
    }
}





@media only screen and (max-width:600px){
    .header{
        background-size: contain;
    }
    .home-left, .home-right{
        width: 100%;
        padding-left: 20px;
    }
    .home-left>h1{
        font-size: 30px;
    }
    .home-left>p{
        font-size: 18px;
    }
    .preffer{
        top: 30px;
    }



    #advantages{
        flex-direction: column;
        padding: 10px;
    }
    .advantage{
        width: 90%;
    }



    #rolls>.roll-header>h1, #sets>.sets-header>h1,
    #promotion>.promotion-header>h1{
        font-size: 30px;
    }
    #rolls>.roll-header>p, #sets>.sets-header>p,
    #promotion>.promotion-header>p{
       line-height: 1.45;
    }
    .sushiItem{
        width: 100%;
    }
    .sushiText{
        height: auto;
    }
    .sushiBtn{
        width: 300px;
    }
    .sushiItemBig{
        width: 100%;
    }
    .sushiImgBig{
        height: 300px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .sushiTextBig{
        padding: 20px 10px;
    }
    .sushiTextBig>h2{
        font-size: 20px;
    }
    .sushiTextBig>p{
        font-size: 12px;
    }
    .close{
        right: 25px;
        color: black;
    }
    .order{
        padding: 20px 0px;
    }
    .orderform{
        width: 100%;
        padding: 20px;
    }
    .orderform>h1{
        font-size: 20px;
    }
    .clone{
        height: 110px;
    }
    .clone>.sushiImg{
        width: 30%;
    }
    .clone>.sushiText{
        width: 80%;
        padding: 10px 0px;
        padding-left: 10px;
        text-align: left;
        display: block;
    }
    .clone>.sushiText>h3 {
        width: 100%;
    }
    .clone>.sushiBtn{
        width: 30px;
        height: 25px;
    }



    #container{
        height: 500px;
        padding-top: 30px;
    }
    .containerLeft>img{
        width: 70%;
    }
    .containerRight{
        width: 70%;
    }
    .containerItem>.containerRight>h1{
        font-size: 28px;
    }
    .containerItem>.containerRight>p{
        font-size: 16px;
    }
    #btn_prev, #btn_next{
        top: 30%;        
    }
    #btn_prev{
        left: 10px;
    }
    #btn_next{
        right: 10px;
    }
    


    .scrollBtn{
        right: 20px;
    }
}


